
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: darkgoldenrod;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: darkgreen;
    color: #fff;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    position: relative; 
}

nav ul li a {
    color: gold;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul ul {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0; 
    background-color: darkgreen;
    z-index: 1; 
}

nav ul li:hover > ul {
    display: block;
}

.gif {
    display: block;
    margin: 0 auto; /* Center the GIF horizontally */
    max-width: 100%; /* Ensure the GIF does not exceed the container width */
    width: 200px; /* Set the width of the GIF */
    height: auto; /* Maintain aspect ratio */
}

.gif2 {
    display: block;
    margin: 0 auto; /* Center the GIF horizontally */
    max-width: 100%; /* Ensure the GIF does not exceed the container width */
    width: 250px; /* Set the width of the GIF */
    height: auto; /* Maintain aspect ratio */
}

section.featured {
    text-align: center;
    padding: 50px 0;
}

.fhead {
    font-size: 36px;
}

.fsub {
    font-size: 18px;
}

footer {
    background-color: darkgreen;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.larger {
    font-size: 1.2em; 
    padding: 10px 20px; 
    background-color: gold;
}